<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>GymNotebook.com | <%= @title %></title>
  </head>
  <body>
	<%= link_to "Home", :controller => "pages", :action => "home" %> | <%= link_to "About Us", :controller => "pages", :action => "about" %> | 
	<%= link_to "Contact", :controller => "pages", :action => "contact" %>
      <%= yield %>
  </body>
</html>